{ 
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["@babel/plugin-proposal-class-properties"],
    ["babel-plugin-module-resolver", {
      "alias": {
        "@components": "./src/app/components",
        "@styles": "./src/styles"
      }
    }]
  ]
}
